<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="../static/styles/productPage.css">
</head>
<body>
    <h1>Product Information</h1>
    <form class="product-details" action="/purchase_product" method="post">
        <div class="product-detail-row" style="display: none">
            <span class="detail-label">Product_ID:</span>
            <span class="detail-value" id="product_id">{{ product['Product_ID'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Name:</span>
            <span class="detail-value" id='p_name'>{{ product['Name'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Category:</span>
            <span class="detail-value" id="p_categorie">{{ product['Categorie'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Color:</span>
            <span class="detail-value" id="p_color">{{ product['Color'] }}</span>
        </div><div class="product-detail-row">
            <span class="detail-label">Weight:</span>
            <span class="detail-value" id="p_weight">{{ product['Weight'] }} Kg</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Quantity Available :</span>
            <span class="detail-value" id="p_quantity">{{ product['Quantity'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Price:</span>
            <span class="detail-value" id="p_price">{{ product['Price'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Additional description:</span>
            <span class="detail-value">{{ product['Additional_description'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Seller :</span>
            <span class="detail-value" id="p_seller">{{ product['Seller']['s_name'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Seller Store Address :</span>
            <span class="detail-value" id="Store_address">{{ product['Store_address'] }}</span>
        </div>
        <div class="product-detail-row">
            <span class="detail-label">Rates & Comments :</span>
            <ul class="detail-value">
                {% for var in product['Points_and_Comments'] %}
                    <li>
                        Name : {{ var['name'] }} <br>
                        Comment : {{ var['comment'] }} <br>
                        Rate : {{ var['rate'] }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="quantity_container">
            <label for="Quantity_purchase">Quantity you want to Purchase</label>
            <select id="Quantity_purchase" name="Quantity_purchase" required>
                  {% for var in range(1, 21) %}
                    <option value="{{ var }}">{{ var }}</option>
                  {% endfor %}
            </select>
        </div>
        <div class="button_container">
            <button type="button" class="purchase_button" onclick="checkPurchase()">Purchase Product</button>
        </div>
    </form>

</body>
<script src="../static/javaScript/productHandler.js"></script>
</html>
