*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  width: 100%;
}
#user_container{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: fit-content;
  padding: 20px;
  height: 100%;
  background-color: black;
  border-radius: 0 0 10px 0;
}
#user_container div{
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

.square {
  background-color: #96be1c;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.7s all;
  text-decoration: none;
  width: 50%;
}
.square:hover{
  background-color: #b2e025;
}
.logout{
  background-color: #a92323 !important;
}
.logout:hover{
  background-color: #da2828 !important;
}
.square p {
  margin: 10px;
  color: white;
  text-decoration: none;
}
