*{
    box-sizing: border-box;
    font-family: IRANYekanFN;
}
@font-face {
  font-family: IRANYekanFN;
  src: url(../Qs_Iranyekan.ttf);
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #c8fff4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin: 60px 0;
    text-align: center;
}

.product-details {
    width: 70%;
    background-color: white;
    padding: 30px;
    height: fit-content;
    margin-bottom: 100px;
    border: 2px solid #46fd1d;
    border-radius: 15px;
}

.product-detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
}

.detail-label {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.detail-value {
    flex: 2;
    text-align: center;
    list-style-type: none;
}
.detail-value li{
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c73434;
    border: 1px solid #c73434;
    border-radius: 15px;
    text-align: left;
    padding: 10px;
    color: white;
    font-family: IRANYekanFN;
}
.button_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}
.button_container .purchase_button{
    padding: 10px;
    background-color: #8bec50;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s all;
    margin-top: 10px;
    border: 1px solid #2b2d2a;
}
.button_container .purchase_button:hover{
    color: white;
    background-color: #c73434;
    border: 1px solid #c73434;
}

.quantity_container {
    margin: 10px 0;
}

.quantity_container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.quantity_container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}