@font-face {
  font-family: IRANYekanFN;
  src: url(../Qs_Iranyekan.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  margin : 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.rate_container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px 6px rgb(203, 44, 68);
  width: 600px;
  font-family: IRANYekanFN;
}
.rate_container h2 {
  text-align: center;
  font-size: 22px;
  color: #504949;
  margin-bottom: 15px;
}
.rate_container .form-control {
  margin-bottom: 10px;
}
.rate_container .form-control label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}
.rate_container .form-control select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.rate_container .form-control input[type=text], .rate_container .form-control input[type=password] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}
.rate_container .form-control input[type=text]:focus, .rate_container .form-control input[type=password]:focus {
  border: 2px solid rgb(70, 179, 206);
}
.rate_container button , section{
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s all;
}
.rate_container section{
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.rate_container a{
  text-decoration: none;
  color: white;
}
.rate_container .review_button{
  background-color: #da3a3a;
}
.rate_container .review_button:hover{
  background-color: #be2424;
}
.rate_container .mainPage_button{
    background-color: rgb(9, 76, 94);
}
.rate_container .mainPage_button:hover {
  background-color: rgb(17, 34, 54);
}

.button-group{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.button-group button{
  font-family: IRANYekanFN;
  padding: 10px;
  font-size: 14px;
  width: 200px;
}